body{
    font-family: "New Amsterdam";
    background-color: darkgrey;
}

li{
    list-style: none;
    margin-right: 25px;
}
ul{
    display: flex;
    font-size: 23px;
}

a{
    font-size: 23px;
    background: none;
    padding: 10px;
    color: black;
    text-decoration: none;
}

header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 135px;
    background-color: blue;
}
.border{
    border-radius: 50px;
    margin-top: 30px;
}

img.IG{
    text-decoration: purple;
}